.footer {
  position:absolute;
}




@media screen and (max-height:620px){
  .footer {
    position:relative;
  }
}


@media screen and (max-width:1199){

    .footer {
      display: none;
    }
  
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {

  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}


.child1 {
display: inline-block;
width: 79%;


vertical-align: middle;
}
.child1plus {
display: inline-block;
width: 69%;


vertical-align: middle;
}
.child2 {
display: inline-block;
width: 19%;

text-align: center;
vertical-align: middle;
}
.child3 {
display: inline-block;
width: 29%;

text-align: center;
vertical-align: middle;
}

.qr-code {
  max-width: 200px;
  margin: 10px;
}


#pescurttext{
display: none;
}